<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cobwebfloodreportapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
 
    <uses-permission android:name="android.permission.CAMERA" />
 <uses-feature android:name="android.hardware.camera" />
 <uses-feature android:name="android.hardware.camera.autofocus" />
 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
  
 <uses-permission android:name="android.permission.WAKE_LOCK"/> 
   

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.cobwebfloodreportapplication.COBWEBMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           
           <activity android:configChanges="keyboardHidden|orientation"
              android:label="@string/title_CobWebCamera"
              android:name="cobweb.addons.QualityControlledCamera"
              android:screenOrientation="landscape"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
             </activity>
             
           <activity android:configChanges="keyboardHidden|orientation"
              android:label="@string/title_CobWebCamera"
              android:name="cobweb.addons.MarkItemOfInterestOnImage"
              android:screenOrientation="landscape"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
             </activity>
             
           
           
             <activity android:configChanges="keyboardHidden|orientation"
              android:label="@string/title_CobWebCamera"
              android:name="cobweb.addons.PolylineOnImage"
              android:screenOrientation="landscape"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
             </activity>
              
        <activity
            android:name="com.example.cobwebfloodreportapplication.PHOTOActivity"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.cobwebfloodreportapplication.Map"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.example.cobwebfloodreportapplication.UserLogInActivity"
            android:label="@string/title_activity_user_log_in" >
        </activity>

        <service
            android:name="com.example.cobwebfloodreportapplication.GeoFencingService"
            android:exported="false" />

        <activity
            android:name="com.example.cobwebfloodreportapplication.COBWEBNotification"
            android:label="@string/title_activity_cobwebnotification" >
        </activity>
        <activity
            android:name="com.example.cobwebfloodreportapplication.PolygonLayerMap"
            android:label="@string/title_activity_polygon_layer_map" >
        </activity>
       
        <activity
            android:name="com.example.cobwebfloodreportapplication.AdminPolygonMap"
            android:label="@string/title_activity_admin_polygon_map" >
        </activity>
        <activity
            android:name="com.example.cobwebfloodreportapplication.AdminSection"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
